<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="siteDomain" value="fqdn.com" />
        <add key="proofEmailAccount" value="outboundEmailUsername" />
        <add key="proofAppPath" value="c:\path\to\proofs" />
        <add key="trackSuccessfulReports" value="false" />
    </appSettings>
    <connectionStrings>
        <add connectionString="Data Source=path\sqlexpress; Initial Catalog=dbname; User ID=userid; Password=password" name="db" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <system.net>
        <mailSettings>
            <smtp>
                <network defaultCredentials="false" host="127.0.0.1" userName="mailuser" password="mail_password" port="25" />
            </smtp>
        </mailSettings>
    </system.net>
    <system.web>
        <compilation debug="true" strict="false" explicit="true" targetFramework="4.5">
            <assemblies>
                <add assembly="Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
                <add assembly="System.IO.Compression, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
                <add assembly="System.IO.Compression.FileSystem, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
            </assemblies>
        </compilation>
        <pages enableEventValidation="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
            <namespaces>
                <clear/>
                <add namespace="System"/>
                <add namespace="System.Collections"/>
                <add namespace="System.Collections.Generic"/>
                <add namespace="System.Collections.Specialized"/>
                <add namespace="System.Configuration"/>
                <add namespace="System.Text"/>
                <add namespace="System.Text.RegularExpressions"/>
                <add namespace="System.Linq"/>
                <add namespace="System.Xml.Linq"/>
                <add namespace="System.Web"/>
                <add namespace="System.Web.Caching"/>
                <add namespace="System.Web.SessionState"/>
                <add namespace="System.Web.Security"/>
                <add namespace="System.Web.Profile"/>
                <add namespace="System.Web.UI"/>
                <add namespace="System.Web.UI.WebControls"/>
                <add namespace="System.Web.UI.WebControls.WebParts"/>
                <add namespace="System.Web.UI.HtmlControls"/>
            </namespaces>
        </pages>
       <sessionState allowCustomSqlDatabase="true" mode="SQLServer" sqlConnectionString="sqlconnectionstring" timeout="20160"/>
        <authentication mode="None"/>
        <customErrors mode="RemoteOnly" defaultRedirect="default.aspx?report=There was an issue with the site. You have been redirected home.">
            <error statusCode="404" redirect="404.aspx"/>
        </customErrors>
        <httpHandlers>
            <add path="*" verb="OPTIONS" type="System.Web.DefaultHttpHandler" validate="true"/>
        </httpHandlers>
        <httpRuntime maxRequestLength="104857600" executionTimeout="350"/>
    </system.web>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false"/>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="104857600" />
            </requestFiltering>
        </security>
    </system.webServer>
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
</configuration>
